# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist

# Testing
coverage

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm

# Documentation
docs/.vitepress/dist
docs/.vitepress/cache
